.title {
    text-align: center;
    color: #A68549;
}

.character-link {
    text-decoration: none;
    color: #A68549;
}

.char-names {
    margin: 0 50px;
    padding: 5px;
}

.chars-list {
    display: flex;
    flex-wrap: wrap;
}