.header-title {
    background-color: #592222;
    margin: 0;
    height: 100px;
    color: #A68549;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 80px;
}

.header-link {
    text-decoration: none;
}