.organize {
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #A68549;
    text-align: center;
    height: calc(80% - 15px);
}

.sorted {
    grid-row: 1;
}

.congrats {
    grid-row: 2;
}