.characters-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr;
    height: calc(80% - 160px);
}

.hogwarts-img {
    grid-column: 2;
    width: 250px;
    height: 350px;
}

.chars-details {
    color: #A68549;
    grid-column: 3;
    text-align: center;
}

.link-back {
    text-decoration: none;
    color: #A68549;
}

.character-title {
    display: inline-block;
    color: #A68549;
    margin: 50px 350px;
}